*{
    margin: 0;
    padding: 0;
    font-family: LexendDeca;
}
body{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.monstronauts-body{
    background-image: url(../image/ppr_web_BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
}
#background-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

#background-container .background{
    position: absolute;
    height: 115vh;
    width: max-content;
}

#signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#signup-container .logo{
    position: absolute;
    top: 2px;
}

#signup-container .signupBtn{
    position: absolute;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5rem;
    cursor: pointer;
}

.signupBtn .btnImg{
    width: 100%;
    position: relative;
}
.signupBtn .btnText{
    position: absolute;
    user-select: none;
    color: var(--font-color-primary);
    font-family: Monstriffic;
    font-size: 25pt;
    text-shadow:
        var(--font-outline) 2px 0px 0px, 
        var(--font-outline) 1.75517px 0.958851px 0px, 
        var(--font-outline) 1.0806px 1.68294px 0px, 
        var(--font-outline) 0.141474px 1.99499px 0px, 
        var(--font-outline) -0.832294px 1.81859px 0px, 
        var(--font-outline) -1.60229px 1.19694px 0px, 
        var(--font-outline) -1.97998px 0.28224px 0px, 
        var(--font-outline) -1.87291px -0.701566px 0px, 
        var(--font-outline) -1.30729px -1.5136px 0px, 
        var(--font-outline) -0.421592px -1.95506px 0px,
        var(--font-outline) 0.567324px -1.91785px 0px, 
        var(--font-outline) 1.41734px -1.41108px 0px, 
        var(--font-outline) 1.92034px -0.558831px 0px;

}

#signup-container .copyright{
    position: absolute;
    bottom: 1rem;
    user-select: none;
}
.copyright .text{
    color: var(--font-color-primary);
}
.copyright .hyperlinks{
    color: var(--font-color-secondary);
    text-decoration: none;   
}


@media screen and (max-width: 600px) {
    #signup-container .logo{
        width: 85vw;
    }
    #signup-container .signupBtn{
        width: 85vw;
    }
    #background-container .background{
        height: 100vh;
    }
    .signupBtn .btnText{
        font-size: 6vw;
    }
    .copyright{
        width: 85vw;
        font-size: 2.2vw;
        text-align: center;
    }
 
}