:root{
    --font-color-primary: #fbefef;
    --font-color-secondary: #FFEC00;
    --font-color-tertiary: #8BDEFF;
    --font-outline: #1b1211;
    
    --Monstronauts-primary: #5c91b9;
    --Monstronauts-secondary: #07133f;
    --web-forms-container: #0e2450d9;

}