a{
    text-decoration: none;
    color: var(--font-color-primary);
}
a:hover{
    color: var(--font-color-secondary);
}
#forms-container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
    position: relative;
    /* border:2px solid red; */

}
#forms-container .logo{
    position: absolute;
    top: 2px;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
}
#forms-container .formColumn{
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: var(--web-forms-container);
    max-width: 85rem;
    padding-top: 5rem;
    margin-top: 8rem;
    border-radius: 25px;
    margin-bottom: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
#forms-container .form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    width: 45%;
    /* height: fit-content; */
    padding: 0 2rem 0rem 2rem;
    user-select: none;
    /* padding-top: 8rem; */
    /* top: 8rem; */
    /* border:2px solid red; */
    
}
.carousel {
    position: relative;
    width: calc(110% + 4rem);
    height: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* left: -1rem; */
    /* height: 15rem; */
}
.carousel-container{
    position: relative;
    width: 75%;
    overflow: hidden;
}
.carousel-inner{
    /* position: absolute; */
    width: 35rem;    
}
.carousel .card{
    position: relative;
    width: 8rem;
    height: 15rem;
    margin-right: 1rem;
}
.carousel .card-img{
    position: relative;
    height: 100%;   
}
.carousel img{
    position: relative;
    height: 100%;
}
.carousel-inner .carousel-item {
    -webkit-transition: transform 0.2s ease, opacity .5s ease-out;
    -moz-transition: transform 0.2s ease, opacity .5s ease-out;
    -o-transition: transform 0.2s ease, opacity .5s ease-out;
    transition: transform 0.2s ease, opacity .5s ease-out;
}
.f-button svg, .fancybox__infobar{
    color: var(--Monstronauts-tertiary);
}
.f-button.is-next svg, .f-button.is-prev svg{
    width: 3rem;
    height: 3rem;
}

/* @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
} */

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
.carousel-btn{
   width: 1rem;
   height: 2rem;
}
.carousel-control-prev-icon .carousel-btn{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* medium and up screens */
/* @media (min-width: 768px) { */
    
.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
}

.carousel-inner .carousel-item-start.active, 
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
}
/* } */

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

#forms-container form{
    position:relative;
    width: 100%;
    height: 100%;
}
.form-box .title{
    color: var(--font-color-secondary);
    font-size: 30pt;
    text-align: center;
    font-family: Monstriffic;
}
.form-box .description{
    color: var(--font-color-tertiary);
    font-size: 13pt;
    text-align: center;
}

.form-box label{
    margin-top: 1rem;
    color: var(--font-color-tertiary);
    font-size: 13pt;
}
.form-box input{
    padding: 0.5rem;
    width: 100%;
    -webkit-min-logical-width:calc(100% - 18px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.month-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: fit-content;
}

.month-container .placeholder{
    position: absolute;
    color: gray;
    z-index: 1;
    margin-left: 0.5rem;
    width: calc(100% - 0.5rem);
    pointer-events: none;
}
#month{
    position: relative;
}
.hideMonthPlaceholder::-webkit-datetime-edit-year-field, 
.hideMonthPlaceholder:in-range::-webkit-datetime-edit-month-field,  
.hideMonthPlaceholder:in-range::-webkit-datetime-edit-text { 	
    color: transparent; 
    user-select: none;
    background-color: transparent;
}

/* #month::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
  } */
.datepicker {
    transform: translateX(-50%);
    left: 50% !important;
  }

  /* Remove the tooltip arrow */
  .datepicker-dropdown:before {
    display: none;
  }
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 2rem;
    width: 2rem;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  
  /* Create a custom checkbox */
  .checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--Monstronauts-secondary);
    border: 1px solid var(--Monstronauts-primary);
  }

  .checkbox-container input:checked ~ .checkmark {
    background-repeat: no-repeat;
   
    background-position: center;
    background-image: url(../../forms/images/ppr_web_check.png);
  }
 
.birth .form-box .input-group{
    width: 50%;
}
.input-group .form-select{
    background-image: url(../../forms/images/ppr_web_dropdown.png);
}
.form-box .Birth{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.form-box .agreement{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.form-box .agreement .description{
    text-align: left;
    width: 90%;
    color: var(--font-color-primary);
    font-size: 10pt;
}
.form-box .notes{
    display: inline-block;
    /*text-align: justify;*/
    margin-top: 0.5rem;
    font-size: 10pt;
    color: var(--font-color-tertiary);
}
.button-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#submitBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    width: 50%;
}
#submitBtn:active{
    filter: brightness(80%) saturate(70%);
}
#submitBtn .btnImg{
    position: relative;
    width: 100%;
}
#submitBtn .btnText{
    position: absolute;
    font-size: 25pt;
    color: var(--font-color-primary);
    font-family: Monstriffic;
    text-shadow:
        var(--font-outline) 2px 0px 0px, 
        var(--font-outline) 1.75517px 0.958851px 0px, 
        var(--font-outline) 1.0806px 1.68294px 0px, 
        var(--font-outline) 0.141474px 1.99499px 0px, 
        var(--font-outline) -0.832294px 1.81859px 0px, 
        var(--font-outline) -1.60229px 1.19694px 0px, 
        var(--font-outline) -1.97998px 0.28224px 0px, 
        var(--font-outline) -1.87291px -0.701566px 0px, 
        var(--font-outline) -1.30729px -1.5136px 0px, 
        var(--font-outline) -0.421592px -1.95506px 0px,
        var(--font-outline) 0.567324px -1.91785px 0px, 
        var(--font-outline) 1.41734px -1.41108px 0px, 
        var(--font-outline) 1.92034px -0.558831px 0px;
}

#forms-container .copyright{
    
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    bottom: -2rem;
    position: absolute;
    user-select: none;
    width: 100%;
}
.vl {
    border-left: 3px solid var(--Monstronauts-primary);
    height: calc(100% - 8rem);
    z-index: 1;
    position: absolute;
  }
.highlight{
    color: var(--font-color-secondary) !important;
}
.hidden{
    display: none !important;
}
.overflowHidden{
    overflow: hidden !important;
}
.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}
.grayscale-element {
    filter: grayscale(100%);
}
.hover-highlight:hover{
    filter: brightness(110%) saturate(140%);
}

@media screen and (max-width: 1300px) {
    #forms-container .formColumn{
        max-width: 45rem;
        margin-left: 0;
        margin-right: 0;
    }
    #forms-container .form-box{
        width: 100%;
    }
    .formColumn{
        flex-direction: column;
    }
    .carousel-inner{
        width: 40rem;
    }
    .vl{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    #forms-container .formColumn{
        max-width: 85vw;
    }
    .carousel-inner{
        width: 52rem;
    }
    .carousel{
        height: 22rem;
        /* width: calc(100% + 4rem); */
    }
    .carousel .card{
        height: 22rem;
        width: 12rem;
        margin-right: 0.5rem;
    }
}
@media screen and (max-width: 600px) {
    #forms-container .form-box{
        padding: 0 2rem 0rem 2rem; 
        /* padding-top: 8rem; */
    }
    
    #forms-container .formColumn{
        max-width: 95vw;
    }
    .carousel{
        width: calc(100% + 16vw);;
    }
    .form-box .agreement .description{
        font-size: 2.7vw;
    }
    .form-box .notes{
        font-size: 2.7vw;
    }
    .button-container, #submitBtn{
        width: 100%;
    }
}